.filter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 3px solid blue;
    border-radius: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #DDF3F7 ;
}
.label {
    display: block;
    margin-bottom: 20px;
    color: blue;
    font-size: 20px;
    display: flex;
    justify-content: center;
   
}
.input {
    display: block;
    border: 1px solid black;
    border-radius: 50px;
    min-height: 30px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}