.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    color: #2a363b;
    border: solid 1px blue;
    border-radius: 50px;
    background-color: aqua;
  }
  
  .navigation {
    display: flex;
    justify-content:flex-end;
    gap: 30px;
  }