.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .username {
    font-weight: 700;
    color: blue;
  }
  .button {
    border: solid 1px blue;
    background-color: aqua;
    border-radius: 50px;
  }